{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>GDP Indicator | Bangladesh</title>
  </head>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo_w.png' %}" width="200" height="auto" class="d-inline-block align-top" alt="">
      </a>

      <form class="form-inline" method=POST action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search by year" aria-label="Search" name="query">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Find GDP</button>
      </form>

    </div>
    
  </nav>
  <body>
   
  </br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
   
    
    <div>
      <!-- Footer -->
      <footer class="container">
        <hr class="my-4">
      
          <!-- Copyright -->
          <div class="footer-copyright text-md-center py-3">GDP Indicator BD © {% now 'Y' %} Copyright | All Rights Reserved. System Designed By - 
            <a href="https://www.freelancer.com/u/rexbdsoft" class="text-danger">"Ashikur Rahaman"</a>
          </div>
          <!-- Copyright -->
      
        </footer>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>