{% load static %}
<div class="container" align="center">
    <div class="jumbotron">
      <h2>Our Team</h2>
      <hr class="my-4">
      <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="{% static 'mahfuz.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mahfuj Hasan Shohug</h5>
                <p class="card-text">ML Engineer</p>
                <p class="card-text"><small class="text-muted">Developed main model using ARIMA model to produce prediction array and data visualization.</small></p>
              </div>
            </div>
              <div class="card">
                <img class="card-img-top" src="{% static 'ashikur.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ashikur Rahaman</h5>
                  <p class="card-text">Software Engineer</p>
                  <p class="card-text"><small class="text-muted">Enhanched static model from main model to extract predicted data.Fueled up web engine using static model data as source and optimized through interactive web API.</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="{% static 'bitto.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Abu Kowshir Bitto</h5>
                  <p class="card-text">Data Analyst</p>
                  <p class="card-text"><small class="text-muted">Collect and cleaned up data for pre-processing the main model on development.</small></p>
                </div>
              </div>
        </div>
        <hr class="my-4">
    </div>
    
  </div>